<div class="row" style="width: 100%; height: fit-content; ">
  <div class="col-md-8 col-12" style="background-color: #FFFFFF; padding: 4rem;">
    <div class="row">
      <div class="col-12">
        <p class="subHeading headingShadow">Schreibe uns eine Nachricht</p>
      </div>
      <div class="col-md-6 col-12">
        <label for="1"  class="form-label">Name</label>
        <input id="1" type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col-md-6 col-12">
        <label for="2"  class="form-label">E-Mail</label>
        <input id="2" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="3"  class="form-label">Betreff</label>
        <input id="3" type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col-md-6 col-12">
        <label for="4" class="form-label">Telefon</label>
        <input id="4" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="5" class="form-label" >Nachricht</label>
        <textarea id="5" type="text" class="form-control" placeholder="First name" aria-label="First name"></textarea>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 bg-success" style="padding: 4rem">
    <div class="row">
      <div class="col-12">
        <p class="subHeading headingShadow">Kontakt</p>
      </div>
      <div class="col-12">
        <p class="basicText">Adresse</p>
        <p>De-Saint-Exrupery 10</p>
        <p>60549 Frankfurt am Main</p>
        <p>Germany</p>
      </div>
      <div class="col-12">
        <p class="basicText">E-Mail</p>
        <p>info@reg7.de</p>
      </div>
      <div class="col-12">
        <p class="basicText">Telefon</p>
        <p>069 49083187</p>
      </div>
    </div>
  </div>
</div>
