@import '../../../../scss/styles';

.limit-card-text {
  min-height: 3rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  //border: 2px solid rgba(255,255,255,0.2);
  color: $secondary;
  box-shadow: rgba(17, 17, 26, 0.15) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 32px;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 0 !important;
}

.project-card-img-size {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  @include media-breakpoint-down(md) {
    height: 12rem;
  }
  @include media-breakpoint-up(md) {
    height: 16rem;
  }
  @include media-breakpoint-up(l) {
    height: 17rem;
  }
  @include media-breakpoint-up(xl) {
    height: 20rem;
  }
  @include media-breakpoint-up(xxl) {
    height: 25rem;
  }
}
