<div class="card">
    <img alt="{{project.title}} image"
         [src]="project.imgUrl"
         class="card-img-top project-card-img-size">
    <div class="card-body">
        <h5 class="card-title basicText">{{project.title}}</h5>
        <p class="card-text paragraph limit-card-text ">{{project.text}}</p>
        <button (click)="c(projectKey)" [routerLink]="'/projekte/' + projectKey" class="paragraph btn
         btn-info" style="width: 50%" type="button">Mehr
            anzeigen
        </button>
    </div>
</div>
