@import '../../../scss/styles';

.project-text-col {
  text-align: justify;
}

.projectsCardsWrapper {
  padding-bottom: 4rem;
  margin-top: 5vmin;
  background-color: $primary;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  //border: 2px solid rgba(255,255,255,0.2);
  color: #FFFFFF;
  box-shadow: rgba(17, 17, 26, 0.15) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 32px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
