@import '../../../scss/styles';

.project-text-col {
  text-align: justify;
  padding-bottom: 4rem;
}

.projectsCardsWrapper {
  padding-bottom: 4rem;
  //margin-top: 5vmin;
  background-color: $primary;
}

.mobile-padding-top {
  @include media-breakpoint-down(md) {
    margin-top: 4rem;
  }
}

.mobile-padding-bottom {
  @include media-breakpoint-down(md) {
    margin-bottom: 4rem;
  }
}


