<app-sub-page-img-header [image]="'./assets/img/teamPictures/reg7-626-min-komprimiert.jpg'"
                         [title]="''"></app-sub-page-img-header>

<div>        <iframe width="60%" height="300px" frameborder="0" src="//umap.openstreetmap.de/de/map/new/?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=false&allowEdit=false&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&editinosmControl=false&measureControl=false&locateControl=false&fullscreenControl=false#18/50.05447/8.59598"></iframe>
</div>
<div class="row" style="position: absolute; height: 20rem; width: 100vw; z-index:10">
    <div class="col-sm-12 offset-lg-4 col-lg-6 bg-primary"
         style="margin-left:5vw; margin-top: 5rem; margin-bottom: 5rem;">
        dqdqw
    </div>
</div>
<div class="row" style="width: 100%; margin: 0 !important; padding: 0 !important; height: 30rem;">
    <div class="col-sm-12 col-lg-6 bg-info offset-lg-6" style="height: 100%">
    </div>
</div>
