<div class="wholeVHW">
    <div class="row" style="overflow:hidden; z-index: -1">
        <div class="col-12 bigBG" style="  overflow: hidden;">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
        <div class="col-4 offset-7" style="position: absolute; z-index: 100">
            <div style="border-radius: 50%; height: 40vmax; width: 40vmax; margin-top: 40%;">
                <img alt="x" class="reg7logo-on-landing-page" src="./assets/svg/logo/reg7LogoOhneSchriftzug.svg"/>
            </div>
        </div>
        <!--        <div class="col-3 smollBG">-->

        <!--        </div>-->
    </div>

</div>
