@import '~src/scss/styles';

.showScreenWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.leftSide {
  @include media-breakpoint-up(md) {
    z-index: 11;
    top: 0;
    left: 0;
    width: 101%; /* If you make it 100%, you get a bit of black showing along the diagonal */
    height: 100%;
    background: $success;
    -webkit-clip-path: polygon(0 0, 41% 0, 24% 100%, 0% 100%);
    clip-path: polygon(0 0, 41% 0, 24% 100%, 0% 100%);
  }
}


.rightSide {
  display: block;
  right: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-size: cover;
  @include prefix('background-image', url('https://images.unsplash.com/photo-1576930343276-902c521c9d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80'), $webPrefixes);
  background-image: url('https://images.unsplash.com/photo-1576930343276-902c521c9d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80');
  background-color: rgba(grey, 0.6);
  background-blend-mode: hard-light;
  height: 100%;
}


.leftSideContent {
  @include media-breakpoint-up(lg) {
    width: 101%;
    height: 100%;
    z-index: 12;
    text-align: justify;
    top: 0;
    left: 0;
    -webkit-shape-outside: polygon(89% 0%, 24% 0%, 8% 100%, 73% 100%);
    shape-outside: polygon(89% 0%, 24% 0%, 8% 100%, 73% 100%);
    float: left;
    /* the following three lines are only for demonstration purposes */
    background: transparent;
    -webkit-clip-path: polygon(89% 0%, 24% 0%, 8% 100%, 73% 100%);
    clip-path: polygon(89% 0%, 24% 0%, 8% 100%, 73% 100%);
    padding: 1% 4% 0;
    position: absolute;
  }
}


//TODO: remove test or the normal one
.leftSideContentTest {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 14;
  top: 0;
  left: 0;
  padding: 4%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

br {

}

.leftSideColor {
  color: $secondary !important;


}

.rightSideContent {

}

.serviceWrapper {
  z-index: -20;
  height: 30%;
  background-color: transparent;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

#serviceRow {
  @include media-breakpoint-down(md) {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  z-index: 0;
  position: relative;
  margin-top: -08%;
}

.serviceCols {
  z-index: 13;
  @include make-col-ready(0);
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  @include media-breakpoint-down(md) {
    @include make-col(10);
  }
}

.serviceCols:nth-child(-n+2) {
  @include media-breakpoint-down(md) {
    margin-bottom: 5rem;
    //TODO: einheitlichen Abstand für so Sachen
  }
}

.serviceCols > * {
  max-width: 10%;
}

.serviceText {

}


.showScreenImage {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1634467599263-af9793758399?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
}

.imageColumn {
  @extend .showScreenImage;
  @include make-col-ready(0);
  @include make-col-offset(4);
  @include make-col(8);
  height: 100vh;
  min-height: 100px;
  width: auto;
}
.showScreenLogoCol{
  @include make-col-ready(0);
  @include make-col(6);
  @include make-col-offset(3);
  height: 30vmax;
  background-image: url('../../../../assets/svg/logo/reg7LogoOhneSchriftzug.svg');
  background-size:100% 100%;
  opacity: 0.4;

}
.showScreenHeadingRow{
  padding-top: 7vmax;
  color: $primary;
}

.showScreenHeadingCol{
  @include make-col-ready(0);
  line-height: 1.5;
  @include media-breakpoint-down(md){
    @include make-col(11.6);
    @include make-col-offset(0.2);
    line-height: 1.1
  }
  @include media-breakpoint-down(lg){
    //@include make-col(9);
    //@include make-col-offset(1.5);
    //text-align: center;
    @include make-col(7);
    @include make-col-offset(1.5);
  }
}

.showScreenSubHeadingCol{
  @include make-col-ready(0);
  @include make-col(7);
  @include make-col-offset(1.5);
  @include media-breakpoint-down(md){
    @include make-col(11);
    @include make-col-offset(0.5);
  }
}
.showScreenHeading{
  text-shadow: #FFFFFF;
}

.showScreenSubHeading{
  color: $primary;
  line-height: 1.2;
}
