@import '~src/scss/styles';

.showScreenImage{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1634467599263-af9793758399?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
}

.imageColumn{
  @extend .showScreenImage;
  @include make-col-ready(0);
  @include make-col-offset(4);
  @include make-col(8);
  height: 100vh;
  min-height: 100px;
  width: auto;
}
.showScreenLogoCol{
  @include make-col-ready(0);
  @include make-col(6);
  @include make-col-offset(3);
  height: 30vmax;
  background-image: url('../../../../assets/svg/logo/reg7LogoOhneSchriftzug.svg');
  background-size:100% 100%;
  opacity: 0.4;

}
.showScreenHeadingRow{
  padding-top: 7vmax;
  color: $primary;
}

.showScreenHeadingCol{
  @include make-col-ready(0);
  line-height: 1.5;
  @include media-breakpoint-down(md){
    @include make-col(11.6);
    @include make-col-offset(0.2);
    line-height: 1.1
  }
  @include media-breakpoint-down(lg){
    //@include make-col(9);
    //@include make-col-offset(1.5);
    //text-align: center;
    @include make-col(7);
    @include make-col-offset(1.5);
  }
}

.showScreenSubHeadingCol{
  @include make-col-ready(0);
  @include make-col(7);
  @include make-col-offset(1.5);
  @include media-breakpoint-down(md){
    @include make-col(11);
    @include make-col-offset(0.5);
  }
}
.showScreenHeading{
  text-shadow: #FFFFFF;
}

.showScreenSubHeading{
  color: $primary;
  line-height: 1.2;
}
