<div class="wholeVHW showScreenWrapper">
<!--    <div class="row showScreenHeadingRow">-->
<!--&lt;!&ndash;        <div class="showScreenLogoCol" style="position:absolute">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="wholeCol bigAssHeading showScreenHeading headingShadow showScreenHeadingCol">-->
<!--            Qualität und Stabilität für Ihr Meldewesen-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="showScreenSubHeadingCol subHeading showScreenSubHeading">-->
<!--            <p>Wir sind erfahrene Fach- und IT-Experten,-->
<!--            die sich auf die Automatisierung von Prozessen im Rahmen der Umsetzung regulatorischer Anforderungen spezialisiert haben.</p>-->
<!--            <button type="button" class="btn btn-primary" style="width: 50%">HEYO</button>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row"></div>
    <div class="row" style="height: 100vh; position: absolute">
        <div class="imageColumn">
        </div>
    </div>

</div>
