<div class="img-header-wrapper">
  <div class="img-header-title-wrapper row">
    <div class="col-md-4 offset-md-6 col-10 offset-1" style="
    position: relative;
">
        <img src="assets/img/reg7mapIconWhite.png" alt="Pointer auf den Reg7 Standort" class="map-picture-pointer"/>


        <img src="assets/img/reg7Map.png" alt="Karte des Reg7 Büros" class="map-picture"/>

    </div>
  </div>
  <div class="img-header">
  </div>
  <!--//TODO: für mobil einen Pfeil mit mehranzeigen einbauen-->
</div>


