<div style="position: relative">
  <div class="img-header-title-wrapper row no-gutters" style="width: 100%">
    <div class="col-md-6 offset-1   col-12">
      <p class="pageHeading">Kontaktiere uns</p>
      <p class="basicText">lorem ipsum bafasd
       dasd adsd asd</p>
    </div>
    <div class="col-md-4 col-12" style="
    position: relative;
">
        <img src="assets/img/reg7mapIconWhite.png" alt="Pointer auf den Reg7 Standort" class="map-picture-pointer"/>

        <img src="assets/img/reg7Map.png" alt="Karte des Reg7 Büros" class="map-picture"/>

    </div>
  </div>
  <div class="img-header">
  </div>
  <!--//TODO: für mobil einen Pfeil mit mehranzeigen einbauen-->
</div>




