@import '../scss/styles';

.fixed-top {
  top: -40px;
  transform: translateY(40px);
  opacity: 0.95;
  @include prefix(transition, transform .5s ease-out, $webPrefixes);
}

.navBarText {
  @extend .basicText;
  @include fontScaling(0.8);
}

.shift-logo{
  @include media-breakpoint-down(lg){
    padding-left: 1rem !important;
  }
}

.nav-item {
  margin-left: 1em;
}
.navLogo{
  margin: 0 !important;
  margin-bottom: -1rem !important;
  margin-top: -0.7rem !important;
  margin-left: -0.3rem !important;
  //padding-top: 1rem !important;
  //padding-bottom: 0rem !important;
  height: 50px;
  width: 87.5px;
}

.stopContentShifting{
  //padding-left: 13%;
  //width: 100%;
  //left: 0;
  //height: fit-content;
  //padding-bottom: 0.5em;
  //position: absolute;
  //background-color: $primary !important;
  /*----------------------------------------------------------------
  ANIMATION FEHLT IN DIESER LÖSUNG
  ----------------------------------------------------------------*/
}
