<!--NAVBAR -->
<!--falls Nav Bar Farbe geändert //TODO: DIE ACTIVE FARBE ANPASSEN AN $secondary-->
<nav #navbar id="navbar" class="navbar navbar-expand-lg bg-primary navbar-dark " style="width: 100vw"
     [class.fixed-top]="downScrolling">
    <!-- class="row"-->
    <!--[class.bg-info]="downScrolling"  [class.bg-primary]="!downScrolling"-->
    <!--<div [ngClass]="{'wholeCol': !isMenuCollapsed}">-->
    <div class="container-fluid">
        <a class="navbar-brand shift-logo" [routerLink]="'.'">
            <img alt="Reg7 Logo" src="./assets/svg/logo/reg7LogoOhneSchriftzug.svg"
                 class="d-inline-block navLogo align-text-top">
        </a>

        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
        <button class="navbar-toggler" style="margin-right: 1em" type="button"
                (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <!-- Step 2: Add the ngbCollapse directive to the element below. -->
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto stopContentShifting" add-active>
                <li #start id="start" class="nav-item">
                    <!-- Step 4: Close the menu when a link is clicked. -->
                    <a class="nav-link navBarText" [routerLink]="'.'" (click)="isMenuCollapsed = true">Über uns</a>
                </li>
                <li #services class="nav-item" id="services">
                    <a (click)="isMenuCollapsed = true" [routerLink]="'./leistungen'" class="nav-link navBarText">Unsere
                        Leistungen</a>
                </li>
                <!--//TODO: tab leuchten anpassen -->
                <li #projects id="projects" class="nav-item">
                    <a class="nav-link navBarText" [routerLink]="'./projekte'" (click)="isMenuCollapsed = true">Unsere
                        Projekte</a>
                </li>
                <li #team id="team" class="nav-item">
                    <a class="nav-link navBarText" [routerLink]="'./team'" (click)="isMenuCollapsed = true">Das Team</a>
                </li>
                <li #contact id="contact" class="nav-item">
                    <a (click)="isMenuCollapsed = true" [routerLink]="'./kontakt'"
                       class="nav-link navBarText">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
    <!--    </div>-->
</nav>


<router-outlet></router-outlet>

<!--//TODO: footer -->
<footer class="footer row">
    <div class="wholeCol row border-between">
        <div class="footer-col">
            <img [routerLink]="'.'" alt="Reg7 Logo" src="assets/svg/logo/reg7LogoOhneSchriftzug.svg"
                 style="width:30%; align-self: start"/>
            <span><b>Regulatory Reporting</b></span>
            <span>Hier steht irgendeine coole Info oder so</span>
        </div>
        <div class="footer-col">
            <span><b>Links</b></span>
            <span [routerLink]="'./kontakt'">Kontakt</span>
            <span [routerLink]="'./impressum'">Impressum</span>
            <span [routerLink]="'./datenschutz'">Datenschutz</span>
        </div>
        <div class="footer-col">
            <span><b>reg7 GmbH</b></span>
            <span>De-Saint-Exupery-Straße 10</span>
            <span>60549 Frankfurt am Main</span>
            <span>Deutschland</span>
            <span>E-Mail: <a href="mailto:info@reg7.de" style="color:inherit">info@reg7.de</a></span>
        </div>
    </div>
    <div class="wholeCol align-text-bottom" style="text-align: center">
        <span class="paragraph c2022reg7">©2022 reg7 GmbH</span>
    </div>
</footer>
