<div class="card" (mouseenter) ="cardWasClicked = true"  (mouseleave) ="cardWasClicked = false"> <!--//TODO: make the card flip oder sowas -->
    <img class="card-img-top bwToColorOnHover"
         [src]="member.imagePathRef"
         alt="Card image cap" [ngClass]="{'gray-image': cardWasClicked}">
    <div *ngIf="!cardWasClicked; else unclickedCard" class="card-body card-constant-height">
        <h5 class="card-title">{{member.name}}</h5>
        <p class="card-text">{{member.job}}</p>
    </div>
</div>

<ng-template #unclickedCard>
    <p class="card-text">{{member.description}}</p>
</ng-template>
