<div class="wholeVHW bg-primary">
    <div class="container ">
        <div class="row pt-5 justify-content-lg-start">
            <div class="col-md-auto pt-4 ml-2 pb-5">
                <img alt="reg7 logo"  class="svg pt-4 pb-5 ml-5" src="../../../../assets/svg/logo/reg7LogoOhneSchriftzug.svg">
                <!--
                <h1 id="regrep" class="m-3">
                    <span>regulatory</span>
                    <span>reporting</span>
                </h1>
                -->
            </div>
            <div class="regrep">
                <p>regulatory</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="frontTextShift">
                <p class="frontText">
                    <span>Ihr Ansprechpartner für effizientes Meldeswesen.</span>
                    <span>Wir bieten Ihnen erfahrene Fach- und IT-Experten,</span>
                    <span>die Ihnen bei der Automatisierung von Prozessung</span>
                    <span>und der Umsetzung von regulatorischen Anforderungen</span>
                    <span>stets zur Seite stehen.</span>
                </p>
                <button type="button" class="btn btn-info" style="width: 100%">Jetzt informieren!</button>
            </div>
            <div class="regrep">
                <p>reporting</p>
            </div>
        </div>
        <div class="oceanContainer">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
    </div>


</div>

