@import '../../../../scss/styles';

/*
#regrep{
  color: #ffffff;
  font-size: 10rem;
  @include fontScaling(40);
  right: 10%;
  span::after {
      content: "\A";
      white-space: pre;
  }
}

 */


.wholeVHW {
  height: calc(100vh - 56px) !important;
  min-height: fit-content + 5rem !important;
}

.svg{
  @include svgScalingTransform(4);
}

.frontText{
  span::after {
    content: "\A";
    white-space: pre;
  }
  span {
    color: #FFFFFF;
    @include fontScaling(0.8);
  }
}

.frontTextShift{
  width: fit-content;
  height: fit-content;
  @include make-col-ready();
  @include media-breakpoint-down(sm) {
    //left: 0 !important;
    margin-left: 8vw !important;
    @include make-col(11);
  }
  @include media-breakpoint-up(sm) {
   // left: 0 !important;
    margin-left: 10vw;
    @include make-col(11);
  }
  @include media-breakpoint-up(xl) {
    margin-left: -3.65rem !important;
    @include make-col-auto();
  }
  @include media-breakpoint-up(xxl) {
    margin-left: -4.5rem !important;
    @include make-col-auto();
  }
}

.regrep{
  @include make-col-ready();
  color: #FFFFFF;
  font-family: "Bebas Neue", serif;
  text-transform: capitalize;

  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-up(l) {
    @include make-col-auto();
    margin-top: 2rem;
    p {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    @include make-col-auto();
    margin-top: 2.3rem;
    right: -10% !important;
    p {
      font-size: 5rem;
    }
  }
  @include media-breakpoint-up(xxl) {
    @include make-col-auto();
    right: -10% !important;
    p {
      font-size: 9rem;
    }
  }
}

.oceanContainer{
  bottom: 0 !important;
  max-height: 1vh;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    zoom: 0.5;
  }
  @include media-breakpoint-up(sm) {
    zoom: 0.6;
  }
  @include media-breakpoint-up(md) {
    zoom: 0.7;
  }
  @include media-breakpoint-up(lg) {
    zoom: 0.8;
  }
  @include media-breakpoint-up(xl) {
    zoom: 0.9;
  }
  @include media-breakpoint-up(xxl) {
    zoom: 1;
  }
}

.ocean {
  width:100%;
  position:absolute;
  bottom:0;
  max-width: 100%;
  left:0;
  background: #ffffff;

}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3E%3Cstop stop-color='%2357BBC1' stop-opacity='.25' offset='0%25'/%3E%3Cstop stop-color='%23015871' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z' transform='matrix(-1 0 0 1 1600 0)'/%3E%3C/svg%3E") repeat-x;
  position: absolute;
  width: 6400px;
  animation: wave 60s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0); @include media-breakpoint-down(sm) {
    top: -98px;
    height: 98px;
  }
  @include media-breakpoint-up(sm) {
    top: -118px;
    height: 118px;
  }
  @include media-breakpoint-up(md) {
    top: -138px;
    height: 138px;
  }
  @include media-breakpoint-up(lg) {
    top: -158px;
    height: 158px;
  }
  @include media-breakpoint-up(xl) {
    top: -178px;
    height: 178px;
  }
  @include media-breakpoint-up(xxl) {
    top: -198px;
    height: 198px;
  }
}

.wave:nth-of-type(2) {
  animation: wave 60s cubic-bezier( 1, 1, 0.63, 0.76) -.125s infinite, swell 60s ease -2s infinite;
  opacity: 1;
  @include media-breakpoint-down(sm) {
    top: -75px;
  }
  @include media-breakpoint-up(sm) {
    top: -95px;
  }
  @include media-breakpoint-up(md) {
    top: -115px;
  }
  @include media-breakpoint-up(lg) {
    top: -135px;
  }
  @include media-breakpoint-up(xl) {
    top: -155px;
  }
  @include media-breakpoint-up(xxl) {
    top: -175px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
    margin-bottom: 20px;
  }
  100% {
    margin-left: -1600px;
    margin-bottom: -100px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-10px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
