<div class="capTitle pageHeading text-center pageHeadingMarginTop">
    Unsere Maßnahmen
</div>
<div class="capFrame container-fluid">
    <div class="row g-0 no-gutters">
        <div class="boxCol" *ngFor="let box of skillBoxes" >
            <div class="sqaureBox" [ngStyle]="{'background-color': box.color}">
                <div class="innerBox">
                    <div style="width: 100%;">
<!--                        <div class="svg-container-icon" [innerHTML]="box.icon"></div> //TODO:reinkommentieren um alle icons anzuzeigen-->
                        <div class="svg-container-icon" [innerHTML]="skillBoxes[0].icon"></div>
                        <p *ngIf="box.fontColor else blackText" [innerHTML]="box.title"
                           [ngStyle]="{'color': box.fontColor}" class="boxText">
                        </p>
                        <!-- basic Text Template -->
                        <ng-template #blackText>
                            <p [innerHTML]="box.title" class="basicText">
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

