<!-- USED TO ORGANIZE FRONT ONE PAGER -->

<!--<app-landing-screen></app-landing-screen>-->
<app-new-show-screen></app-new-show-screen>
<ng-container *ngIf="lockedUpLazyChildren[0] === false">
    <lazy-mw-timeline class="fade-in" *ngxLazyEl></lazy-mw-timeline>
</ng-container>
<ng-container *ngIf="lockedUpLazyChildren[1] === false">
    <lazy-capabilities class="fade-in" *ngxLazyEl></lazy-capabilities>
</ng-container>
<ng-container *ngIf="lockedUpLazyChildren[2] === false">
    <app-measures></app-measures>

    <!--
    //TODO: make the puzzle lazy
    -->
</ng-container>
