@import '../../../scss/styles';

//@include svg-responsive(0, 0, "puzzleCircle", 30%)

.wrapper-puzzleCircle{
  padding-top: 50vmin;
  position: relative;
  //max-width: 100vw;
  width: 80%;
  overflow: visible;
  margin: 0 auto;
}

.outer-wrapper-puzzleCircle{
  width: 100%;
}



