<app-sub-page-img-header
        [title]="'Lerne uns kennen'"
        [subTitle]="'Mit Leidenschaft und Individualkompetenz zum Erfolg'"
        [image]="'./assets/img/teamPictures/reg7-team-head-w6.png'">
</app-sub-page-img-header>
<div class="row pageHeadingMarginTop">
    <div class="wholeCol">
        <p class="pageHeading">Das Team von Reg7</p>
    </div>
</div>
<div class="row justify-content-start">
    <div class="wholeCol row">
        <div *ngFor="let member of team; let memberIndex=index;" class="team-cols" style="margin-bottom: 5rem">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>
