<!--<div>-->
<!--    <ng-container *ngFor="let measure of measures">-->
<!--        <app-zoom-box [svgGraphic]="domSanitizer.bypassSecurityTrustHtml(measure.svgGraphic)" [title]="measure.title" [text]="measure.text"></app-zoom-box>-->
<!--    </ng-container>-->
<!--</div>-->

<div class="capTitle pageHeading text-center pageHeadingMarginTop">
    Meldewesen
</div>
<div class="capFrame container-fluid">
    <div class="row g-0 no-gutters">
        <div class="boxCol" *ngFor="let measure of measures" >
            <div class="sqaureBox">
                <div class="innerBox">
                    <app-zoom-box [svgGraphic]="domSanitizer.bypassSecurityTrustHtml(measure.svgGraphic)" [title]="measure.title" [text]="measure.text"></app-zoom-box>
                </div>
            </div>
        </div>
    </div>
</div>
