<app-sub-page-img-header
        [image]="'./assets/img/teamPictures/reg7-talking.jpg'"
        [subTitle]="'So wirds gemacht!'"
        [title]="'Unsere Leistungen'">
</app-sub-page-img-header>

<div class="row pageHeadingMarginTop">
    <div class="wholeCol ">
        <p class="pageHeading ">Meldewesen Services Überschrift</p>
    </div>
</div>
<div class="row pageHeadingMarginTop">
    <div class="wholeCol">
        <app-capabilities></app-capabilities>
    </div>
</div>
<div style="margin: 0 auto; padding-bottom: 4rem; padding-top: 4rem"></div>
<div class="bg-primary measuresWrapper">
    <div class="row pageHeadingMarginTop">
        <div class="wholeCol">
            <p class="pageHeading measuresWrapper">Meldewesen Services Überschrift 2</p>
        </div>
    </div>
    <div class="row  measuresWrapper">
        <div class="wholeCol">
            <app-measures></app-measures>
        </div>
        <div class="wholeCol" style="margin: 0 auto; padding-bottom: 4rem; padding-top: 4rem">
            <p class="paragraph pageHeadingMarginTop">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no
                sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
</div>
